{% extends 'BlogBundle::layout.html.twig' %}

{% block body %}
    <h2>Dodaj tag</h2>
    <form class="form-horizontal" method="post" >
        <fieldset>
            {{ form_start(form) }}
            {{ form_errors(form) }}
            <div class="form-group">
                <label for="author" class="col-lg-2 control-label">
                    {{ form_label(form.name) }}
                </label>
                <div class="col-lg-10">
                    {{ form_widget(form.name) }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">

                    {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary', 'type': 'submit'}}) }}

                </div>
            </div>
            {{ form_end(form) }}
        </fieldset>


    </form>

{% endblock %}

