{# src/BlogBundle/Resources/views/layout.html.twig #}
{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('@BlogBundle/Resources/public/css/*') }}" type="text/css" rel="stylesheet"/>
{% endblock %}
{% block sidebar %}
    <div class="btn-group-vertical">
    {% if is_granted('ROLE_AUTHOR') or is_granted('ROLE_ADMIN') %}
        <a href="{{ url('posts-add') }}" class="btn btn-primary btn-lg btn-block">Napisz posta</a>
    {% endif %}
    {% if is_granted('ROLE_AUTHOR') %}
        <a href="{{ url('posts-list') }}" class="btn btn-info btn-lg btn-block">Zarządzaj swoimi postami</a>
    {% endif %}
    {% if is_granted('ROLE_ADMIN') %}

        <h3><a class="btn btn-default btn-lg btn-block" href="{{ path('users-add') }}">Dodaj nowego użytkownika</a></h3>
    {% endif %}
    {% if is_granted('ROLE_MOD') %}

        <h3><a class="btn btn-primary btn-lg btn-block" href="{{ path('comments-list') }}">Moderuj komentarze</a></h3>
    {% endif %}
    </div>

{% endblock %}