{# src/BlogBundle/Resources/views/Page/index.html.twig #}
{% extends 'BlogBundle::layout.html.twig' %}


{% block body %}
    {% for post in posts %}
        <article class="blog">
            <div class="date"><time datetime="{{ post.created|date('c') }}">{{ post.created|date('l, F j, Y') }}</time></div>
            <header>
                <h2><a href="{{ path('BlogBundle_post_view', { 'id': post.id }) }}">{{ post.title }}</a></h2>
            </header>

            {#<img src="{{ asset(['images/', blog.image]|join) }}" />#}
            <div class="snippet">
                <p>{{ post.post(500) }}</p>
                <p class="continue"><a href="{{ path('BlogBundle_post_view', { 'id': post.id }) }}">Kontynuuj czytanie...</a></p>
            </div>

            <footer class="meta">
                <p>Komentarze: -</p>
                <p>Autor: <span class="highlight">{{post.author}}</span> at {{ post.created|date('h:iA') }}</p>
                <p>Tagi: <span class="highlight">{{ post.tags }}</span></p>
            </footer>
        </article>
    {% else %}
        <p>Brak wpisów na blogu</p>
    {% endfor %}
{% endblock %}